.navbar-light .navbar-nav .nav-link.active {
 
    color: black;
  
   background-color: rgba(0,0,0,0.5);
    /* transform: translateX(0.5rem); */
    transition: all 0.4s;
  }
  .nav-link:hover{
    background-color: rgba(0,0,0,0.1);
    
    transition: all 0.4s;

  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
}
  .active2{
    color: red;
    background-color: black;
  }
  
  .active3{
    color: purple;
    background-color: black;
  }