 .nav-link.active{
    color: white;
  
    border-bottom:2px solid black;
    transform: translateX(0.5rem);
    transition: all 0.4s;
  }
  .active2{
    color: red;
    background-color: black;
  }
  
  .active3{
    color: purple;
    background-color: black;
  }